*{
    font-family:Roboto ;
}
.upper{
    background-color: #1f2937;
    color: #f9faf8;
}
.head{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 100px;
}
.links{
    justify-content: space-between;
    display: inline-flex; 
    width: 30%; 
    color: #e5e7eb;  
    font-size: 18px;
}
.lastlink{
    margin-right: 50px;
}
.main{
    font-size: large;
    margin-left: 100px;
}
.content{
    display: flex;
}
.cont{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 100px;
    color: #f9faf8;
}
.place{
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    width: 60%;
    width: 600px;
    height: 250px;
    align-content: center;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 100px;
    background-color: rgb(99, 100, 98);
    border-radius:10px;
}
.big{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.small{
    color: #e5e7eb;  
    font-size: 18px;
}
.sign{
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    margin-top: 20px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    color: #f9faf8;
}


.blocks{
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    align-items: center;
    height: 250px;
    width: 900px;
    padding: 20px;
    margin-left: 300px;

}.block{
    width: 200px;
    height: 150px;
    align-items: center;
    border: 3px solid #3882f6;
    border-radius: 0.7rem;
}
.eth{
    display: flex;
    display: inline-block;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.lower{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 130px;
    width: 1100px;
    margin-left: 200px;
    text-align: center;
    background-color: #3882F6;
    margin-bottom: 20px;
}
.last{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.call{
    color: #f9faf8;
    font-size: 30px;
    margin-top: 30px;
}
.direction{
    color: #f9faf8;
    font-size: 20px;
}
.signing{
    border: 3px solid #f9faf8;
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    margin-top: 35px;
    margin-right: 50px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    color: #f9faf8;
}


.sms{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.thor{
    background-color: #e5e7eb;
}
.quote{
    margin-left: 250px;
    margin-right: 250px;
    padding-top:100px ;
    font-size: 30px;
    font-weight: 150;
}
.mention{
    font-size: 20px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-right: 300px;
    text-align: right;
}
.footer{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #1f2937;
    padding-top:  30px;
    color: #f9faf8;
}